$green: #0ED984;
$blue: #3577F6;
$violet: #D72DF3;


%Ubuntu-Light {
  font-family: 'Ubuntu-Light', sans-serif;
  font-weight: 300;
}

%Ubuntu-Regular {
  font-family: 'Ubuntu-Regular', sans-serif;
  font-weight: 400;
}

%Ubuntu-Medium {
  font-family: 'Ubuntu-Medium', sans-serif;
  font-weight: 500;
}
